@import "@/shared/styles/_vars";

html {
  // color-scheme: light dark;
  font-family: "Inter Variable";
}
body.overflow {
  overflow: hidden;
}

.my-container {
  max-width: rem(1100);
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}
.bg-my-gradient {
  background: radial-gradient(105% 27.63% at 50% 40%, #f28c6b 0%, #d3613d 100%);
  box-shadow: 0px 0px 45px -7px rgba(255, 255, 255, 0.37) inset;
}

@media (max-width: $max-768) {
  .container {
    padding: 0 15px;
  }
}
