@tailwind base;
@tailwind components;
@tailwind utilities;

.text-pretty {
  text-wrap: pretty;
}
.filter-shadow {
  -webkit-filter: drop-shadow(0 0 12px #f28c6b);
  filter: drop-shadow(0 0 12px #f28c6b);
}
.ellipse1 {
  @apply rounded-full bg-[#98826D] blur-3xl absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] w-96 aspect-square;
}
.text-gradient-my {
  background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%, rgba(255, 255, 255, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradient-my2 {
  background: linear-gradient(180deg, #DDD5CB -12.9%, rgba(218, 205, 194, 0.00) 88.22%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}