@import "@/shared/styles/_vars";

.telegramWidget {
  width: 100%;
  border-radius: rem(20);
  background: linear-gradient(
    95deg,
    #48a6fd 0.14%,
    #178af5 49.03%,
    #57adfc 96.88%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(20);
  color: $white;
  text-decoration: none;
  cursor: pointer;
  padding: rem(60) rem(20);
  aspect-ratio: 3.5/1;
  margin-top: rem(20);

  &:hover {
    text-decoration: none;

    & > * {
      text-decoration: none;
    }
  }
}
.linkTitle {
  @include H3-1920();
  color: $white;
  text-align: center;
  text-decoration: none;
  text-wrap: pretty;
}
.linkWrapper {
  display: flex;
  align-items: center;
  gap: rem(16);
  justify-content: center;
}
.icon {
  max-width: rem(35);
  width: 100%;
  fill: $white;
  color: $white;
}
.name {
  @include H3-1920();
  text-align: center;
  color: $white;
}

@media (max-width: $max-768) {
  .telegramWidget {
    padding: rem(30) rem(14);
    border-radius: rem(10);
    margin-top: rem(10);
  }
  .linkTitle {
    @include H3-mobile();
  }
  .icon {
    max-width: rem(25);
  }
  .name {
    @include H3-mobile();
  }
}
