@import "@/shared/styles/_vars";

.logo {
  font-weight: 500;
  font-size: rem(30);
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  z-index: 3;

  span {
    color: $accent1;
    margin: 0 rem(5);
  }
}
