@import "@/shared/styles/_vars";

.aboutMePage {
  //   background-color: #f3f4f9;
  padding: rem(150) 0;
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.5rem;
  gap: 2.5rem;
}
.title {
  text-align: center;
}
.img {
  width: 40%;
}
.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3.125rem;
}
.description {
  @include paragraph-1920();

  & p {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.facts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 3.125rem;
  -moz-column-gap: rem(10);
  column-gap: rem(10);
}
.fact {
  flex: 0 0 50%;
}
.factTitle {
  font-size: 4.375rem;
  font-weight: 500;
  color: $black;
  opacity: 0.6;
  white-space: nowrap;
}
.factDescription {
  @include paragraph-1920();
  color: $black;
  max-width: 21.25rem;
}

@media (max-width: $max-1100) {
  .wrapper {
    flex-direction: column;
    justify-content: flex-start;
  }
  .img {
    width: 100%;
    max-height: 400px;
  }
  .content {
    margin-top: 1.875rem;
    align-items: center;
  }
  .description {
    max-width: 60%;
  }
}

@media (max-width: $max-768) {
  .aboutMePage {
    padding: 50px 0;
  }
  .wrapper {
    margin-top: 1.875rem;
    gap: 1.875rem;
  }
  .description {
    max-width: 100%;
    @include paragraph-mobile();
  }
  .factTitle {
    font-size: 1.875rem;
  }
  .factDescription {
    @include paragraph-mobile();
  }
}
