@use "sass:math";

// Colors
$accent1: #178af5;

$shadow1: #f28c6b;

$white: #ffffff;
$white-bg: #f6f6f6;
$light-white: #e2e2e2;
$shadow: #eff2ff;

$black: #040404;
$light-black: #212121;

$gray: #797979;
$dark-gray: #494949;

// Text
@mixin H1-1920() {
  font-weight: 500;
  font-size: 4.6875rem; // 75px
  line-height: 1.1;
  cursor: text;
}

@mixin H2-1920() {
  font-weight: 500;
  font-size: 3.75rem; // 60px
  line-height: 1.2;
  cursor: text;
}

@mixin H3-1920() {
  font-weight: 500;
  font-size: 1.875rem; // 30px
  cursor: text;
  line-height: 1.2;
}

@mixin link() {
  font-weight: 500;
  font-size: 1.25rem; // 20px
  line-height: 1.2;
  text-decoration: underline;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color;

  &:hover {
    color: darken($accent1, 10%);
  }
}

@mixin paragraph-1920() {
  font-weight: 400;
  font-size: 1.25rem; // 20px
  line-height: 1.2;
  cursor: text;
}

@mixin p-mini() {
  font-weight: 400;
  font-size: 1.125rem; // 18px
  line-height: 1.2;
  cursor: text;
}

@mixin photo-desc() {
  font-weight: 400;
  font-style: oblique 10deg;
  font-size: 1.125rem; // 18px
  line-height: 1.2;
  cursor: text;
}

@mixin p-medium() {
  font-weight: 500;
  font-size: 1.25rem; // 20px
  line-height: 1.2;
  cursor: text;
}

@mixin H1-mobile() {
  font-weight: 500;
  font-size: 2.375rem; // 30px
  line-height: 1.2;
  cursor: text;
}
@mixin H2-mobile() {
  font-weight: 500;
  font-size: 1.625rem; // 26px
  line-height: 1.2;
  cursor: text;
}

@mixin H3-mobile() {
  font-weight: 500;
  font-size: 1.25rem; // 20px
  line-height: 1.2;
  cursor: text;
}

@mixin paragraph-mobile() {
  font-weight: 400;
  font-size: 1rem; // 16px
  line-height: 1.25;
  cursor: text;
}

@mixin link-mobile() {
  font-weight: 400;
  font-size: 1rem; // 16px
  line-height: 1.25;
  text-decoration: underline;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color;

  &:hover {
    color: darken($accent1, 10%);
  }
}

@mixin gilroy($weight) {
  font-family: "Gilroy";
  font-weight: $weight;
}

// Convert

@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}
@function em($px) {
  $result: math.div($px, 16) + em;
  @return $result;
}

// Responsive

$max-1400: em(1400);
$max-1300: em(1300);
$max-1200: em(1200);
$max-1100: em(1100);
$max-1000: em(1000);
$max-950: em(950);
$max-900: em(900);
$max-800: em(800);
$max-768: em(768);
$max-700: em(700);
$max-650: em(650);
$max-600: em(600);
$max-550: em(550);
$max-500: em(500);
$max-450: em(450);
$max-400: em(400);
