@import "@/shared/styles/_vars";

.transparentButton {
  background: transparent;
  font-size: 1.25rem;
  padding: 1.25rem 2.5rem;
  outline: 2px solid $white;
  outline-offset: -2px;
  border-radius: 0.625rem;
  color: $white;
  cursor: pointer;
  transition: 0.1s linear;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  white-space: nowrap;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: $max-768) {
  .transparentButton {
    font-size: 1rem;
    padding: 1rem 2rem;
  }
}
