@import "@/shared/styles/_vars";

.advert {
  position: absolute;
  top: rem(100);
  right: 0;
  max-width: rem(230);
  width: 100%;
  height: 100%;
  background-color: $light-white;
  border-radius: rem(20);

  &.hidder {
    display: none;
  }
}
