@import "@/shared/styles/_vars";

.work {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.75rem;
  position: relative;
}
.revert {
  flex-direction: row-reverse;
}
.content {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.workTitle {
  font-size: 2.875rem;
  font-weight: 200;
  line-height: 1.2;
  color: $light-black;
}
.workSubtitle {
  @include H3-1920();
  margin-top: 0.625rem;
  margin-bottom: 1.875rem;
  color: $gray;
}
.buttonWrapper {
  width: 45%;
}
.photosWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
}
.photos {
  max-width: 45.625rem; // 730px
  width: 100%;
  aspect-ratio: 1.1/1;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}
.photo {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  flex: 0 0 100%;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

@media (max-width: $max-1100) {
  .work {
    flex-direction: column;
  }
  .content {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .photosWrapper {
    width: 100%;
  }
}

@media (max-width: $max-800) {
  .workTitle {
    font-size: 1.625rem;
  }
  .workSubtitle {
    font-size: 1rem;
  }
  .photosWrapper {
    max-width: 100%;
  }
}
@media (max-width: $max-768) {
  .photos {
    border-radius: 1rem;
  }
  .work {
    &::after {
      content: "";
      position: absolute;
      bottom: -1.875rem;
      left: 50%;
      transform: translate(-50%, 0);
      height: 1px;
      width: 100%;
      background-color: $light-white;
      border-radius: 50px;
    }

    &:last-child {
      &::after {
        height: 0;
      }
    }
  }
}
@media (max-width: $max-650) {
  .buttonWrapper {
    width: 100%;
  }
}
